
@{
    ViewData["Title"] = "Citas";
}

<h1>Citas</h1>

<div class="modal fade" id="operacionesModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Formulario de Laboratorio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form id="frmOperaciones">
                    <div class="mb-3">
                        <label for="idCita" class="form-label">ID Cita</label>
                        <input type="text" class="form-control" name="idCita" id="idCita" value="0" readonly>
                    </div>

                    <div class="mb-3">
                        <label for="idPaciente" class="form-label">ID Paciente</label>
                        <input type="text" class="form-control" name="idPaciente" id="idPaciente">
                    </div>

                    <div class="mb-3">
                        <label for="idMedico" class="form-label">ID Médico</label>
                        <input type="text" class="form-control" name="idMedico" id="idMedico">
                    </div>

                    <div class="mb-3">
                        <label for="fecha" class="form-label">Fecha</label>
                        <input type="text" class="form-control" name="fecha" id="fecha">
                    </div>

                    <div class="mb-3">
                        <label for="estado" class="form-label">Estado</label>
                        <input type="text" class="form-control" name="estado" id="estado">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="guardar()" data-bs-dismiss="modal" class="btn btn-success">Enviar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>

<div id="divTabla"></div>

<script src="~/js/generic.js"></script>
<script src="~/js/citas.js"></script>
